<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <curbstone_iframe>
                <active>1</active>
                <model>Curbstone\IFrame\Model\Payment\CurbstoneiFrame</model>
                <api_url>https://c3plp.net/curbstone/plp/</api_url>
                <title>Secure credit card payments</title>
                <allowspecific>0</allowspecific>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_authorize>1</can_authorize>
                <group>offline</group>
            </curbstone_iframe>
            <curbstone_iframe_vault>
                <model>CurbstoneCreditCardVaultFacade</model>
                <title>Curbstone Stored Cards</title>
            </curbstone_iframe_vault>
        </payment>
    </default>
</config>
