<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
            <group id="curbstone_iframe" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Curbstone iFrame</label>
                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Title</label>
                </field>
                <field id="api_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="21" translate="label" type="text">
                    <label>PLP Api Url</label>
                </field>
                <field id="merchant_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="22" translate="label" type="text">
                    <label>Merchant's Business Unit Identifier (MFMRCH)</label>
                </field>
                <field id="entry_method" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="23" translate="label" type="text">
                    <label>Card Entry Method (MFMETH)</label>
                </field>
                <field id="local_tax" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="24" translate="label" type="text">
                    <label>Local Tax Flag (MFLTXF)</label>
                </field>
                <field id="customer_number" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="25" translate="label" type="text">
                    <label>Curbstone Customer Number (MFCUST)</label>
                </field>
                <field id="txn_type" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="26" translate="label" type="text">
                    <label>Default txn type (MFTYPE)</label>
                </field>
                <field id="store_card" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="28" translate="label" type="select">
                    <label>Store Cards-on-file</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="dsi_mode" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="28" translate="label" type="select">
                    <label>DSI Developer mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="dsi_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="28" translate="label" type="text">
                    <label>Merchant DSI Key (MFDSIK)</label>
                </field>
                <field id="delete_card" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="29" translate="label" type="select">
                    <label>Allow delete of cards-on-file</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="update_card" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
                    <label>Allow Update Expiry Of Cards-on-file</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max_card" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="31" translate="label" type="text">
                    <label>Maximum Cards Per Order</label>
                </field>
                <field id="validate_first" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="32" translate="label" type="select">
                    <label>Validate First</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="approved_cvv" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="33" translate="label" type="text">
                    <label>Approved CVV Value</label>
                </field>
                <field id="approved_avs" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="34" translate="label" type="text">
                    <label>Approved AVS Value</label>
                </field>
                <field id="payment_action" translate="label" type="select" showInDefault="1" sortOrder="36" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>Curbstone\IFrame\Model\Source\PaymentAction</source_model>
                </field>
                <field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="allowspecific">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="multiselect">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="cctypes" translate="label" type="multiselect" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credit Card Types</label>
                    <source_model>\Magento\Payment\Model\Source\Cctype</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
